.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: #ffffff;
  color: #434445;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  height: 56px;
  margin: auto 16px;
  position: relative;
}

address ul li a {
  color: #2e2f42;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  text-decoration: none;
  max-width: 1440px;
  margin: 0 auto;
}

address ul li a:hover {
  color: #404bbf;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.helper-components {
  padding-left: 76px;
  padding-right: 332px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.helper-components li a {
  list-style: none;
  position: relative;
  display: inline-block;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.helper-components li a:hover,
.helper-components li a:active {
  color: #404bbf;
  text-decoration: none;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.helper-components:hover::after {
  position: absolute;
  top: 44px; /* Y konumu */
  left: 50%;
  width: 44px;
  height: 4px;
  background-color: #404bbf;
  transform: translateX(-50%);
  content: "";
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address ul {
  list-style: none;
  text-decoration: none;
}

.logo {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-decoration: none;
}

.logo span,
.logo span:hover,
.logo span:active,
.logo span:visited {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-cover {
  display: flex;
  background-image: url("../images/office.jpg");
  background-size: cover;
  height: 600px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  max-width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  z-index: 998;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2f42;
  opacity: 0.5;
}

.component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.section-1 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 464px;
}
.section-1-components li {
  min-height: 120px;
  max-width: 356px;
}

.section-1 ul h3 {
  margin: 8px 0;
  font-weight: 500;
}

.section-1 ul p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  max-height: 24px;
}

.icon {
  max-width: 64px;
  max-height: 64px;
}

.icon-space {
  display: flex;
  background-color: #f4f4fd;
  min-width: 264px;
  min-height: 112px;
  border: 1px solid #8e8f99;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  color: #f4f4fd;
  max-width: 16px;
  max-height: 16px;
}

.icon-sm-space {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
}

.icon-sm-space:hover {
  background-color: #31d0aa;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team {
  min-height: 780px;
  background-color: #f4f4fd;
  padding: 120px 0;
  display: flex;
  flex-direction: column;
}

.our-team h2 {
  text-align: center;
}
.our-team .team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.profile-pic {
  text-decoration: none;
  list-style: none;
}
.team-card {
  max-height: 428px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 264px;
  height: 428px;
}

.team-card img {
  list-style: none;
  width: 264px;
  height: 260px;
}
.content {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 8px;
}

.social-media-space ul {
  padding-top: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 6px;
}
.our-portfolio {
  padding: 120px 0;
  height: auto;
}

.our-portfolio h2 {
  text-align: center;
}

.our-portfolio ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16px;
  width: 360px;
  min-height: 120px;
}

.pcards {
  border: 1px solid #e7e9fc;
  max-width: 360px;
  height: auto;
}

.image-box {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.image-box img {
  display: block;
  width: 100%;
  height: auto;
}

.hover-box {
  position: absolute;
  inset: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-box:hover .hover-box {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pcards:hover {
  box-shadow: 0px 2px 1px 0px #2e2f42;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  width: 496px;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

h3 {
  color: #2e2f42;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.team li {
  text-align: center;
}

button {
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
  width: 169px;
  border-radius: 4px;
}

button:hover {
  background-color: #404bbf;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  color: #ffffff;
  min-height: 312px;
}

.ficon-instagram,
.ficon-twitter,
.ficon-facebook,
.ficon-linkedin {
  width: 24px;
  height: 24px;
}

.ficon-sm-space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  border-radius: 50% 50%;
}

.ficon-sm-space:hover {
  background-color: #31d0aa;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo2 {
  color: #ffffff;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.1667;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  margin-bottom: 16px;
}

.logo2 span,
.logo2 span:hover,
.logo2 span:active,
.logo2 span:visited {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-decoration: none;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  max-width: 264px;
  max-height: 72px;
}

.text2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.text-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}
/** Subscribe Alanı**/
.email-input {
  max-width: 453px;
  min-height: 80px;
  font-size: 16px;
}

.email-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-subscribe {
  display: flex;

  flex-direction: column;
  gap: 16px;
}
.subscribe-email {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  min-width: 264px;
  height: 40px;
}

.subscribe-email:focus,
.subscribe-email:hover {
  border-color: #4d5ae5;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  max-height: 40px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #404bbf;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  width: 24px;
  height: 24px;
  padding-left: 5px;
}

/**Modal Page**/

.form-title {
  margin-top: 72px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500px;
  color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}

.is-open {
  display: flex;
}

.modal-content {
  padding: 24px 24px;
  border-radius: 4px;
  max-width: 408px;
  min-height: 584px;
  background-color: #ffffff;
}

.modal-form {
  gap: 16px;
  width: 360px;
  height: 336px;
  position: relative;
}

.modal-form-input {
  border: 1px solid #2e2f42;
  opacity: 40%;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 32px;
}

.modal-form-input-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  display: flex;
  gap: 8px;
}

.modal-form-input:focus,
.modal-form-input:hover {
  border-color: #4d5ae5;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-container {
  position: relative;
}
.modal-form-input-container textarea {
  height: 120px;
}
.form-icon {
  fill: #2e2f42;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .form-icon,
.modal-form-input:hover + .form-icon {
  fill: #4d5ae5;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  font-size: 12px;
}

.modal-form-checkbox-container {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form-checkbox-content {
  display: flex;
  gap: 8px;
}

.form-icon-checkbox {
  width: 9.51px;
  height: 6.99px;
  fill: transparent;
  display: flex;
}

.modal-form-checkbox:checked + .modal-form-checkbox-container {
  background-color: #4d5ae5;
}
.modal-form-checkbox-container:hover {
  border-color: #4d5ae5;
}
.modal-form-checkbox:checked
  + .modal-form-checkbox-container
  .form-icon-checkbox {
  fill: #ffffff;
}

.privacy-policy a {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy a:hover,
.privacy-policy a:active,
.privacy-policy a:visited {
  color: #4d5ae5;
}

.form-button {
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #404bbf;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 8px;
  height: 8px;
}

.icon-close-space {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border-radius: 50% 50%;
  width: 24px;
  height: 24px;
  top: -64px;
  right: 0;
}

/**Mobile**/

.icon-menu {
  color: #2e2f42;
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 0;
  position: fixed;
}

.mobile-nav-container {
  display: flex;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  flex-direction: column;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  padding-top: 85px;
  padding-left: 16px;
}

.mobile-nav ul {
  list-style: none;
  color: inherit;
}

.mobile-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 36px;
  gap: 20px;
  text-decoration: none;
}

.mobile-elements li a {
  color: #2e2f42;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.mobile-elements li a:hover,
.mobile-elements li a:active {
  color: #404bbf;
  text-decoration: none;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-address {
  padding-top: 128px;
  padding-bottom: 48px;
}
.mobile-address ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-button {
  cursor: pointer;
  bottom: 10px;
}

.icon-menu {
  position: absolute;
  bottom: 15px;
}
.menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #2e2f42;
}

.icon-mobile-close {
  width: 24px;
  height: 24px;
}

#mobile-menu-toggle:checked ~ .mobile-nav-container {
  visibility: visible;
  opacity: 1;
}

#mobile-menu-toggle:checked ~ .menu-button {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 1158px) {
  .header {
    width: 72px;
    display: flex;
  }
  .header-address ul {
    padding-left: 140px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

@media (min-resolution: 2dppx) {
  .hero-cover {
    background-image: url("../images/office@2x.jpg");
  }
}
@media (min-width: 768px) {
  .mobile-nav-container {
    display: none;
  }
  .menu-button {
    display: none;
  }

  .container {
    flex-direction: wrap;
  }
}

.hero-cover {
  background-position: center;
  background-size: cover;
  height: 432px;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  .section-1 ul h3 {
    text-align: center;
  }
  .helper-components li,
  .contact-info-container {
    display: none;
  }
  .pcards {
    width: 288px;
    height: auto;
  }

  .image-box {
    display: block;
    max-width: 100%;
    height: auto;
    width: 288px;
  }
  footer {
    min-height: 664px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-container {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text p {
    text-align: left;
  }

  .email-input-container {
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .form-subscribe {
    text-align: center;
  }
  .text2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subscribe-email {
    max-width: 288px;
  }
  /**Modal Menu**/
  .modal {
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    display: flex;
    justify-content: space-between;
    width: 288px;
    min-height: 623px;
  }

  .modal-form p {
    text-align: center;
    width: 100%;
  }
  .modal-form-input {
    width: 256px;
  }

  .icon-close-space {
    top: 0;
  }

  .modal-form-label p {
    text-align: start;
  }
}
/**Tablet**/
@media (max-width: 1158px) {
  body {
    overflow-x: hidden;
  }
  .helper-components {
    padding-left: 120px;
    padding-right: 121px;
  }
  .icon-space {
    display: none;
  }

  .section-1 ul h3 {
    font-size: 36px;
  }
  .section-1-components {
    margin: 96px 0;
  }
  .section-1-components li {
    padding-bottom: 72px;
    min-width: 288px;
  }
}
@media (min-width: 768px) and (max-width: 1158px) {
  .header-address ul {
  }

  .section-1 ul h3 {
    display: flex;
  }
  .pcards {
    display: flex;
    flex-direction: column;
  }
  .image-box img {
    max-width: 356px;
    max-height: 300px;
  }

  footer {
    padding-left: 100px;
    gap: 0;
    min-height: 456px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .text-container {
    margin: 0;
    gap: 30px;
    padding: 0;
    flex-direction: row;
  }
  .email-input {
    margin: 0;
    gap: 0;
    padding: 0;
  }
}
